<mat-toolbar color="primary">
  <span
    style="
      font-family: 'Segoe UI', Arial, sans-serif;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 2px;
      color: #fff;
      text-shadow: 1px 1px 4px #1976d2;
    "
    >Cascade Tool Shop
  </span>
  <span style="flex: 1 1 auto"></span>
  <span style="flex: 1 1 auto"></span>
  <button mat-button [routerLink]="['/']" routerLinkActive="active-link">
    Home
  </button>
  <button
    mat-button
    [routerLink]="['/inventory']"
    routerLinkActive="active-link"
  >
    Inventory
  </button>
  <button mat-button [routerLink]="['/about']" routerLinkActive="active-link">
    About Us
  </button>
  <button mat-button [routerLink]="['/contact']" routerLinkActive="active-link">
    Contact
  </button>
  <button mat-button [routerLink]="['/admin']" routerLinkActive="active-link">
    Admin
  </button>
  <button
    mat-icon-button
    [routerLink]="['/cart']"
    [disabled]="cartQuantity === 0"
    routerLinkActive="active-link"
    style="margin-left: 16px"
  >
    <mat-icon
      matBadge="{{ cartQuantity }}"
      matBadgeColor="accent"
      *ngIf="cartQuantity > 0"
      >shopping_cart</mat-icon
    >
    <mat-icon *ngIf="cartQuantity === 0">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
